<% if flash[:notice] %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @company.short_description %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Tags:</strong>
  <% @company.tags.each do |tag| %>
    <%= tag.category %>
  <% end %>
</p>

<%= link_to 'Edit', edit_company_path(@company), class: "btn btn-primary" %>
<%= link_to 'Home', companies_path, class: "btn btn-success" %>