<p id="notice"><%= notice %></p>

<h1>Listing Founders</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @founders.each do |founder| %>
      <tr>
        <td><%= link_to founder.name, founder %></td>
        <td><%= founder.title %></td>
        <td><%= founder.company_id %></td>
        <td><%= link_to 'Edit', edit_founder_path(founder), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', founder, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Founder', new_founder_path, class: "btn btn-success" %>

